; timestamp: 20220306T204227Z
; source id: tld-query-network.-v2n0.nic.network.
; source locator: v2n0.nic.network.
; source IP address: 65.22.35.36
; backup point IP address: 111.42.148.76
; status: success
network.		3598	IN	NS	v2n0.nic.network.network.		3598	IN	NS	v0n0.nic.network.network.		3598	IN	NS	v0n1.nic.network.network.		3598	IN	NS	v2n1.nic.network.network.		3598	IN	NS	v0n2.nic.network.network.		3598	IN	NS	v0n3.nic.network.v2n0.nic.network.	3598	IN	A	65.22.35.36v2n0.nic.network.	3598	IN	AAAA	2a01:8840:25::36